<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <environments default="">
    <environment id="">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/course_db"/>
        <property name="username" value="test"/>
        <property name="password" value="1111"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="mapper/yubin.xml"/>
    <mapper resource="mapper/hyeyoon.xml"/>
    <mapper resource="mapper/jong.xml"/>
    <mapper resource="mapper/jeong2.xml"/>
    <mapper resource="mapper/hyuk.xml"/>
    <mapper resource="mapper/gummo.xml"/>
  </mappers>
</configuration>